.card-wrapper
  = render 'items/header'
  .indenti-crumbs
    %ul
      %li
        = link_to "メルカリ", "https://www.yahoo.co.jp/"
        %i.icon-arrow
          = fa_icon "chevron-right"
      %li
        = link_to "マイページ", "https://www.yahoo.co.jp/"
        %i.icon-arrow
          = fa_icon "chevron-right"
      %li
        %span.indenti-list{itemprop: "title"} 支払い方法
  .main-content.clearfix
    .card
      .card__right
        %h2.card__right--title 支払い方法
        .card__right--content
          %p.card-index クレジットカード一覧
          -# .card-button  「カードの登録がないときのビュー」
          -#   .card-button__tag
          -#     = link_to '' , class: 'card-button-link' do
          -#       = fa_icon "credit-card", class: 'card-button-icon'
          -#       %p.card-button-text クレジットカードを追加する
          %ul.cards
            %li.cards__show
              = form_with model: @user, class: 'cards__show--form', local: true do |f|
                = image_tag "/assets/mc_vrt_opt_pos_46_1x.png", width: "34", height: "20"
                %p.card-info ************1975
                %p.card-info 10 / 21 
                = f.submit "削除する", class: "card-delete"
            
          .card-link
            = link_to '', class: 'card-link-text' do
              %p.card-link-font 支払い方法について
              = fa_icon "chevron-right", class: 'card-link-icon'
    .mains
      .left
        .left__top
          %ul
            = link_to user_path do
              %p
                マイページ
                %i= fa_icon "chevron-right", class: "special"
            %li
              お知らせ
              %i= fa_icon "chevron-right"
            %li
              やることリスト
              %i= fa_icon "chevron-right"
            %li
              いいね！一覧
              %i= fa_icon "chevron-right"
            %li
              出品する
              %i= fa_icon "chevron-right"
            %li
              出品した商品・出品中
              %i= fa_icon "chevron-right"
            %li
              出品した商品・取引中
              %i= fa_icon "chevron-right"
            %li
              出品した商品・売却済み
              %i= fa_icon "chevron-right"
            %li
              購入した商品・取引中
              %i= fa_icon "chevron-right"
            %li
              購入した商品・過去の取引
              %i= fa_icon "chevron-right"
            %li
              ニュース一覧
              %i= fa_icon "chevron-right"
            %li
              評価一覧
              %i= fa_icon "chevron-right"
            %li
              ガイド
              %i= fa_icon "chevron-right"
            %li
              お問い合わせ
              %i= fa_icon "chevron-right"
        .left__center
          メルペイ
          .left__center__box
            %li
              売上・振込申請
              %i= fa_icon "chevron-right"
            %li
              ポイント
              %i= fa_icon "chevron-right"
        .left__bottom
          設定
          .left__bottom__box
            %li
              プロフィール
              %i= fa_icon "chevron-right"
            %li
              発送元・お届け先住所変更
              %i= fa_icon "chevron-right"
            %li
              支払い方法
              %i= fa_icon "chevron-right"
            %li
              メール/パスワード
              %i= fa_icon "chevron-right"
            %li
              本人情報
              %i= fa_icon "chevron-right"
            %li
              電話番号の確認
              %i= fa_icon "chevron-right"
            %li
              ログアウト
              %i= fa_icon "chevron-right"
  = render 'items/footer'

.sell-icon
  = link_to "" do
    .red-circle
      %p.text 出品
      = fa_icon 'camera', class: "camera"