.indenti-header
  = render "shared/header-login" 
  .indenti-wrapper
    .indenti-crumbs
      - breadcrumb :indentification
      = render "layouts/breadcrumbs"
    .clearfix
      = render 'shared/sell-icon'
      
      .indenti-container
        .indenti-content
          .mypage-indenti
            %h2.indenti-chapter 本人情報の登録
            %form.indenti_forms1
            = form_with model: @user, class: :indenti_forms ,local: true do |f|
              %div
                %p
                  お客さまの本人情報をご登録ください。
                  %br>/
                  登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
                %p.text-right
                  = link_to "本人確認書類のアップロードについて", "https://www.yahoo.co.jp/"
                  %i.icon-arrow-right
                    = fa_icon "chevron-right"
              %div.indenti-form
                %label お名前
                %p Dチーム
              %div.indenti-form
                %label お名前カナ
                %p ディーチーム
              %div.indenti-form
                %label 生年月日
                %p 7/4
              %div.indenti-form
                %label 郵便番号
                %span.form-arbitray 任意
                %br>/
                %input.input-default{placeholder: "例) 1234567", type: "text", value: ""}/
              %div.indenti-form
                %label 都道府県
                %span.form-arbitray 任意
                %div.select-wrap
                  %i.icon-arrow-bottom 
                    = fa_icon "chevron-down"
                  .form-select
                    = f.collection_select :prefecture_id, Prefecture.all, :id, :name

              %div.indenti-form
                %label 市区町村
                %span.form-arbitray 任意
                %br>/
                %input.input-default{type: "text", name: "city", placeholder: "例) 横浜市緑区"}
              %div.indenti-form
                %label 番地
                %span.form-arbitray 任意
                %br>/
                %input.input-default{type: "text", name: "address1", placeholder: "例) 青山1-1-1"}
              %div.indenti-form
                %label 建物名
                %span.form-arbitray 任意
                %br/
                %input.input-default{type: "text", name: "address2", placeholder: "例) 柳ビル103"}
              %button.btn-indenti{type: "submit"}登録する
              .indenti-form-text
                = link_to "本人情報の登録について", "https://www.yahoo.co.jp/"
                %i.icon-arrow-right
                  = fa_icon "chevron-right"
        .indenti-side
          = render "shared/sidebar"
  .indenti-banner
    = render "shared/footer"
