.topper
  = render "shared/header-login" 
  
.indenti-crumbs
  - breadcrumb :logout
  = render "layouts/breadcrumbs"

.content 
  .logout-mains
    = render "shared/sidebar"
    .my-logout
      .my-logout__bottom
        =link_to destroy_user_session_path, method: :delete, class: "logout-btn" do
          ログアウト



.footer
  = render "shared/footer"

.sell-icon1
  = render "shared/sell-icon"  
  