.topper
  = render "shared/header-login" 
  
.indenti-crumbs
  - breadcrumb :logout
  = render "layouts/breadcrumbs"

.content 
  .logout-mains
    = render "shared/sidebar"
    .my-logout
      .my-logout__bottom 
        %button{name: "", type: "submit", class: "logout-btn", value: "ボタン"} ログアウト



.footer
  = render "shared/footer"

.sell-icon1
  = render "shared/sell-icon"  
  