.selling__item.crearfix
  .selling__item--top
    = render "/shared/header-login"
  .selling__item__sidebar
    = render "/shared/sidebar"
  .selling__item--redcircle
    = render "/shared/sell-icon"
    .selling__item__box
      .selling__item__box__main
        出品した商品
      .selling__item__box__selling
        出品中
      .selling__item__box__sale
        取引中
      .selling__item__box__sold
        売却済み
      .selling__item__box__list
        .selling
        - if @items.present?
          - @items.each do |item|
            .selling__all
              = item.name
        - else
          .selling__else
            = image_tag "logo_white.svg", height: '120px', width: '120px', class: 'free-logo'
          .selling__else2
            取引中の商品がありません
  .selling__item--bottom
    = render "/shared/footer"