.content
  .top-ber
    %ul.top-ber__box
      %li
        =link_to "メルカリ",root_path
      .top-ber__box2
        %i= fa_icon "chevron-right", class:"arrow"
      .top-ber__box3
        マイページ
  .mains
    .right
      .right__up
      .right__0
        .tab
          %li.info
            お知らせ
          %li.list
            やることリスト
      .right__down
    .left
      .left__top
        %ul
          = link_to user_path do
            %p
              マイページ
              %i= fa_icon "chevron-right"
          %li
            お知らせ
            %i= fa_icon "chevron-right"
          %li
            お知らせ
            %i= fa_icon "chevron-right"
          %li
            お知らせ
            %i= fa_icon "chevron-right"
          %li
            お知らせ
            %i= fa_icon "chevron-right"
          %li
            お知らせ
            %i= fa_icon "chevron-right"
          %li
            お知らせ
            %i= fa_icon "chevron-right"
          %li
            お知らせ
            %i= fa_icon "chevron-right"
          %li
            お知らせ
            %i= fa_icon "chevron-right"
      .left__center
      .left__bottom