.contents__category__main__item
  - @items.each do |item|
    .contents__category__main__item__box
      .contents__category__main__item__box__in
        .contents__category__main__item__box__in__image
          = link_to details_item_path(item) do
            = image_tag "#{item.thumbnails.last.images}"
            
        .contents__category__main__item__box__in__price
          .contents__category__main__item__box__in__price__tag
            = item.price.to_s(:delimited)
        .contents__category__main__item__box__in__text
          .contents__category__main__item__box__in__text__write
            = item.name
      .contents__category__main__item__box__in__text