- if user_signed_in? 
  .header
    .main
      .main__top
        .main__top__left
          = image_tag "fmarket_logo_red.svg", class: "merukari-logo"
        .main__top__right
          %input.search-form__input{name: "keyword", placeholder: "何かお探しですか？", type: "text", value: ""}
          %i.icon-search
            = fa_icon  "search", class: 'icon' 
      .main__bottom
        .main__bottom__left
          .main__bottom__left__category
            .logo1
              = fa_icon  "list-ul",class: 'icon1'
            .category-word
              %ul 
                %li カテゴリーから探す
          .main__bottom__left__brand
            .logo1
              = fa_icon  "tags lg",class: 'icon1'
            .category-word
              %ul 
                %li ブランドから探す

        .main__bottom__right  
          .main__bottom__right__nice
            .logo-heart
              = fa_icon  "heart lg",class: 'icon2'
            .nice-word
              %ul
                %li いいね！一覧
          .main__bottom__right__information
            .logo-bell
              = fa_icon  "bell lg",class: 'icon2'
            .information-word
              %ul
                %li お知らせ
          .main__bottom__right__list
            .logo2
              = fa_icon  "check lg",class: "icon2"
            .list-word
              %ul
                %li やることリスト
          .main__bottom__right__my-page
            .logo2
              = image_tag "https://static.mercdn.net/images/member_photo_noimage_thumb.png", class: 'logo-my'
            = link_to user_path(current_user.id) do
              .my-page-word
                %ul
                  %li マイページ
- else 
  .header
    .main
      .main__top
        .main__top__left
          = image_tag "fmarket_logo_red.svg", class: "merukari-logo"
        .main__top__right
          %input.search-form__input{name: "keyword", placeholder: "何かお探しですか？", type: "text", value: ""}
          %i.icon-search
            = fa_icon  "search", class: 'icon' 
      .main__bottom
        .main__bottom__left
          .main__bottom__left__category
            .logo1
              = fa_icon  "list-ul",class: 'icon1'
            .category-word
              %ul 
                %li カテゴリーから探す
          .main__bottom__left__brand
            .logo1
              = fa_icon  "tags lg",class: 'icon1'
            .category-word
              %ul 
                %li ブランドから探す
        .main__bottom__right  
          .logout
            .logout__new
              = link_to new_user_path do
                .logout__new__text
                  新規登録
            .logout__rogin
              = link_to new_user_session_path do
                .logout__rogin__text
                  ログイン