-# - if user_signed_in?
.header
  .main
    .main__top
      .main__top__left
        = image_tag "fmarket_logo_red.svg", class: "merukari-logo"
      .main__top__right
        %input.search-form__input{name: "keyword", placeholder: "何かお探しですか？", type: "text", value: ""}
        %i.icon-search
          = fa_icon  "search", class: 'icon' 
    .main__bottom
      .main__bottom__left
        .main__bottom__left__category
          .logo1
            = fa_icon  "list-ul",class: 'icon1'
          .category-word
            %ul 
              %li カテゴリーから探す
        .main__bottom__left__brand
          .logo1
            = fa_icon  "tags lg",class: 'icon1'
          .category-word
            %ul 
              %li ブランドから探す
      .main__bottom__right  
        .logout
          .logout__new
            .logout__new__text   
              = link_to "新規登録", new_user_path
          .logout__rogin
            .logout__rogin__text
              ログイン