.contents
  .header
    .header__box
      = link_to root_path do
        = image_tag "fmarket_logo_red.svg"
.buy
  .buy__main
    %p.details 購入内容の確認
    .buy__main__pay
      .buy__main__pay__inner
        .buy__main__pay__inner__image
          = image_tag "https://cdn.pixabay.com/photo/2019/11/09/14/28/camera-4613669__480.jpg", class: "image-item"
          %p.image-text　エスニック柄ワイルドパンツ
        .buy__main__pay__inner__pay
          %p.buy-price-1
            ¥980
            %span.item-shipping-fee 送料込み

        .buy__main__pay__inner__point
          %p.buy-point ポイントはありません
        .buy__main__pay__inner__price
          %li.buy-text  支払い金額
          %li.buy-price-2 ￥1,300  　
        .buy__main__pay__inner__button　
        %button{name: "", type: "submit", class: "buy-btn", value: "ボタン"} 購入する   

    .buy__main__address
      .buy__main__address__inner
        .buy__main__address__inner__area
          %p 配送先 
        .buy__main__address__inner__info
          %p 〒547-****
          %p 大阪府大阪府大阪市****
          %p メルカリ　太郎
        .buy__main__address__inner__fix
          %a.buy-user-info-fix{href: "#"}
            %span 変更する
            %i.icon-check
            = fa_icon  "chevron-right", class: 'buy-icon' 

    .buy__main__card
      .buy__main__card__inner
        .buy__main__card__inner__way
          %p 支払方法
        .buy__main__card__inner__text
          %p ***************1111
          %p 01/25 
        .buy__main__card__innner__type
          = image_tag "https://cdn.pixabay.com/photo/2017/08/10/14/02/visa-2623015_1280.png", class: "image-visa"
          
        
        .buy__main__card__inner__fix  
          %a.buy-user-info-fix{href: "#"}
            %span 変更する
            %i.icon-check
            = fa_icon  "chevron-right", class: 'buy-icon'        
.main-footer
  .footer
    %ul.footer__box
      %li= link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
      %li= link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
      %li= link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
    .footer__box2
      = link_to root_path do
        = image_tag "fmarket_logo_white.svg" , height: "60", width: "150"
    .footer__box3
      © 2019 Mercari