.topper
  = render "shared/header-login" 

.details
  .contents
    .contents__box
      .contents__item__name
        ニューバランス New Balance 1400 26.5cm ホワイト
      .contents__item__text
        『ニューバランス New Balance 1400 26.5cm ホワイト』は、46回の取引実績を持つシュワルツェネッガー☆さんから出品されました。ニューバランス（スニーカー/メンズ）の商品で、愛知県から1~2日で発送されます。

      .contents__item__main
        .item-phot
          .item-phot-upper
          .item-phot-low
            .item-phot-low-in
              .thumbnail
                %img{:alt => "", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7wRLAVNuXrw2QvUADoeUvqqdkgWM7nkun723aPuLHZ_oj3z0y"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_2.jpg?1574477944"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_3.jpg?1574477944"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_4.jpg?1574477944"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_5.jpg?1574477944"}/
                
              .thumbnail-thumb
                %img{:alt => "", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7wRLAVNuXrw2QvUADoeUvqqdkgWM7nkun723aPuLHZ_oj3z0y"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_2.jpg?1574477944"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_3.jpg?1574477944"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_4.jpg?1574477944"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_5.jpg?1574477944"}/

              .thumbnail-thumb
                %img{:alt => "", :src => "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7wRLAVNuXrw2QvUADoeUvqqdkgWM7nkun723aPuLHZ_oj3z0y"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_2.jpg?1574477944"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_3.jpg?1574477944"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_4.jpg?1574477944"}/
                %img{:alt => "", :src => "https://static.mercdn.net/item/detail/orig/photos/m66781101121_5.jpg?1574477944"}/


        .item-detail-table
          .item-detail-table-box
            .item-detail-table-Exhibitor
              .name
                .name-bar
                  出品者
              .text
                .user-name
                  シュワルツェネッガー☆
                .markbox
                  .markbox-good
                    .mark-1
                      = fa_icon 'smile'
                    .num
                      3
                  .markbox-usually
                    .mark-2
                      = fa_icon 'meh'
                    .num
                      2
                  .markbox-bad
                    .mark-3
                      = fa_icon 'frown'
                    .num
                      1

            .item-detail-table-category
              .name
                .name-bar
                  カテゴリー
              .text
                .text__1
                  メンズ
                .text__2
                  .icon
                    >
                  .bar
                    靴
                .text__3
                  .icon
                    >
                  .bar
                    スニーカー
            .item-detail-table-brand
              .name
                .name-bar
                  ブランド
              .text
                .text__1
                  ニューバランス
            .item-detail-table-size
              .name
                .name-bar
                  サイズ
              .text
                .text__1
                  26.5cm
            .item-detail-table-status
              .name
                .name-bar
                  商品の状態
              .text
                .text__1
                  目立った汚れ・キズなし
            .item-detail-table-charge
              .name
                .name-bar
                  配送料の負担
              .text
                .text__1
                  送料込み(出品者負担)
            .item-detail-table-method
              .name
                .name-bar
                  配送の方法
              .text
                .text__1
                  未定
            .item-detail-table-region
              .name
                .name-bar
                  配送元地域
              .text
                .text__1
                  大阪
            .item-detail-table-indication
              .name
                .name-bar
                  発送日の目安
              .text
                .text__1
                  1~2日で発送
                  
        .item-pricebox
          .item-price
            ¥15,000
          .item-tax
            (税込) 
          .item-fee
            送料込み
        %ul.item-btn
          %li.item-btn-in
            = link_to "購入画面に進む", "https://www.yahoo.co.jp/"
          

        .item-description
          .item-description__in
            .p
              new balance/ニューバランス
            .p
              型番:M1400JWH
            .p
              サイズ:26.5cm US8.5 UK8
            .p
              カラー:オフホワイト/スエード×メッシュ
            .p
              生産国:made in U.S.A.
            .p
              ニューバランス正規店で購入（¥27,000程）
            .p
              履き心地がとてもいいです。
            .p
              白い靴なので足元が明るくおしゃれです。
            .p
              あまり履かないため出品します。
            .p
              もう生産終了しておりますので希少です。
            .p
              何回か履いておりますので全体的に
            .p
              目立たない汚れありますが比較的綺麗だと思います。
            .p
              まだまだキレイなうちにお譲りしたいと思います。
            .p
              お探しの方いかがでしょうか？
            .p
              質問などお待ちしております。
            
        .item-btn-box
          .item-btn-box-left
            .item-btn-box-like
              .item-btn-box-like-in
                .icon
                  = fa_icon 'heart-o lg'
                .like
                  いいね!
                .num
                  10
            .item-btn-box-report
              .item-btn-box-report-in
                .icon
                  = fa_icon 'flag'
                %ul.inappropriate
                  %li.inappropriate-in
                    = link_to "不適切な商品の報告", "https://www.yahoo.co.jp/"
          .item-btn-box-right
            .item-btn-box-right-in
              .icon
                = fa_icon 'lock'
              %ul.support
                %li.support-in
                  = link_to "あんしん・あんぜんへの取り組み", "https://www.yahoo.co.jp/", class:"support-in-a"

    .itemlink
      .itemlink-bar
        %ul.itemlink-bar__left
          .itemlink-bar__left-icon
            <
          %li.itemlink-bar__left
            = link_to "前の商品", "https://www.yahoo.co.jp/", class:"itemlink-bar__left-a"
            
        .itemlink-bar__right
          %ul.itemlink-bar__right
            %li.itemlink-bar__right
              = link_to "次の商品", "https://www.yahoo.co.jp/", class:"itemlink-bar__right-a"
            .itemlink-bar__right-icon
              >
    .media-box
      .media-box-in
        .logo-box
          .fb-icon
            -# = fa_icon 'facebook' fa-icon使用する時用に置いておきます。
          .tw-icon
            -# = fa_icon 'twitter'
          .pt-icon
            -# = fa_icon 'pinterest'
    .another-item
      .another-item-in
        シュワルツェネッガー☆さんのその他の出品
    .another-image
      .another-image-box
        .another-image-box-in
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                nike C.ロナウド限定モデル
              .item-box-num
                .price-box
                  ¥19,000
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    10
         
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                nike C.ロナウド限定モデル
              .item-box-num
                .price-box
                  ¥19,000
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    10
          
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                nike C.ロナウド限定モデル
              .item-box-num
                .price-box
                  ¥19,000
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    10
        .another-image-box-in
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                nike C.ロナウド限定モデル
              .item-box-num
                .price-box
                  ¥19,000
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    10
         
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                nike C.ロナウド限定モデル
              .item-box-num
                .price-box
                  ¥19,000
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    10
          
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                nike C.ロナウド限定モデル
              .item-box-num
                .price-box
                  ¥19,000
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    10
    .another-brand
      .another-brand-in
        ニューバランスのスニーカー その他の商品
    .another-brand-image
      .another-brand-image-box
        .another-image-box-in
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                NEW BALANCE MRL996AN ネイビー NB
              .item-box-num
                .price-box
                  ¥10,900
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    8
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                NEW BALANCE MRL996AN ネイビー NB
              .item-box-num
                .price-box
                  ¥10,900
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    8
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                NEW BALANCE MRL996AN ネイビー NB
              .item-box-num
                .price-box
                  ¥10,900
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    8
        .another-image-box-in
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                NEW BALANCE MRL996AN ネイビー NB
              .item-box-num
                .price-box
                  ¥10,900
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    8
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                NEW BALANCE MRL996AN ネイビー NB
              .item-box-num
                .price-box
                  ¥10,900
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    8
          .image-box
            .image-box-in
              .image-box-in-ph
            .text-box
              .text-box-in
                NEW BALANCE MRL996AN ネイビー NB
              .item-box-num
                .price-box
                  ¥10,900
                  .price-in
                .num-box
                  .nice
                    = fa_icon 'heart'
                  .num
                    8
.bread-crumbs
  .bread-crumbs-in
    .left-bar
      .home
        メルカリ
      .icon
        >
    .right-bar
      .item
        ニューバランス New Balance 1400 26.5cm ホワイト
.footer
  = render "shared/footer"