.topper
  = render "shared/header-login" 
.slick
  %div
    = link_to "https://jp-news.mercari.com/2019/11/15/free-campaign2/",target: :_blank do
      .slider1
  %div
    = link_to "https://www.mercari.com/jp/featured/camp/" do
      .slider2
  %div
    .slider3
      .slider3-contents
        .slider3-contents__image
          = image_tag 'https://sozai-good.com/uploads/62581/62581_sample.png', class: "smart-phone-image"
        .slider3-contents__content
          .slider3-contents__content--font
            %p スマホで カンタン
            %p フリマアプリ
          .slider3-contents__content--text
            %p メルカリはスマホカメラからすぐに出品できる
            %p 購入時も安心な独自システムのアプリです
          .slider3-contents__content--icon
            =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" do
              = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class: "icon-image", width: "170", height: "50"
            =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" do
              = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', class: "icon-image", width: "170", height: "50"
.sell-icon1
  = render "shared/sell-icon"

.contents
  .contents__category
    .contents__category__head
      
      .contents__category__head__upper
        人気のカテゴリー
      .contents__category__head__list
        .contents__category__head__list__a
          レディース
        .contents__category__head__list__b
          メンズ
        .contents__category__head__list__c
          家電・スマホ・カメラ
        .contents__category__head__list__d
          おもちゃ・ホビー・グッズ
    
    .contents__category__main
      .contents__category__main__list
        .contents__category__main__list__tag
          レディース新着アイテム
        .contents__category__main__list__more
          もっとみる>

      .contents__category__main__item
        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート


        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート
          
        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

      .contents__category__main__item
        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート



    .contents__category__main
      .contents__category__main__list
        .contents__category__main__list__tag
          メンズ新着アイテム
        .contents__category__main__list__more
          もっとみる>

      .contents__category__main__item
        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート


        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート
          
        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

      .contents__category__main__item
        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート


        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート
          
        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート
        
.contents
  .contents__category
    .contents__category__head
      
      .contents__category__head__upper
        人気のブランド
      .contents__category__head__list
        .contents__category__head__list__a
          シャネル
        .contents__category__head__list__b
          ルイヴィトン
        .contents__category__head__list__c
          シュプリーム
        .contents__category__head__list__d
          ナイキ
    
    .contents__category__main
      .contents__category__main__list
        .contents__category__main__list__tag
          シャネル新着アイテム
        .contents__category__main__list__more
          もっとみる>

      .contents__category__main__item
        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート


        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

          
        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート


        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート


        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        
    .contents__category__main
      .contents__category__main__list
        .contents__category__main__list__tag
          ルイヴィトン新着アイテム
        .contents__category__main__list__more
          もっとみる>

      .contents__category__main__item
        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート


        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート
          
        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート

        .contents__category__main__item__box
          .contents__category__main__item__box__in
            .contents__category__main__item__box__in__image
              .contents__category__main__item__box__in__image__price
                .contents__category__main__item__box__in__image__price__tag
                  ¥9,000
            .contents__category__main__item__box__in__text
              .contents__category__main__item__box__in__text__write
                【新品未使用】コート


.footer
  = render "shared/footer"